header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(251, 0, 0);
  background: linear-gradient(90deg, rgba(251, 0, 0, 1) 13%, rgba(245, 189, 0, 1) 47%, rgb(225, 225, 23) 79%);
}

h2 {
  margin-left: 50px;
  color: whitesmoke;
}

a {
  margin-right: 100px;
  color: whitesmoke;
}

.input {
  width: 300px;
  padding: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  display: flex;
  margin-top: 30px;
  margin-left: 40%;
}

button {
  width: 130px;
  height: 40px;
  margin-top: 50px;
  margin-left: 40%;
  border: 1px solid rgb(164, 140, 9);
  background-color: white;
}